html, body {
  padding: 0.5em;
  margin: auto;
  max-width: 45em;
}

body {
  font: 1.2em Palatino, sans-serif;
  color: #333;
  line-height: 1.6;
  text-align: justify;
  background: #FEFEFE;
}

img, video {
  min-width: 50%;
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3 {
  line-height: 1.2;
  font-weight: normal;
}

h3 {
  font-style: italic;
}

p {
  margin-top: 0;
}

ul, ol {
  padding-left: 1.2em;
}

blockquote {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #ddd;
}

code {
  font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
}

a {
  color: #2484c1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #333;
  text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #818181;
  text-decoration: none;
}

hr {
  color : #ddd;
  height : 1px;
  margin: 2em 0;
  border-top : solid 1px #ddd;
  border-bottom : none;
  border-left: 0;
  border-right: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  html, body {
    line-height: 1.4;
  }
}

@media only screen and (max-device-width: 480px) {
  body {
    text-align: left;
  }
  article {
    width: auto;
    padding: 0 10px;
  }
}
